# Files to be ignored by Git
# Updated for my needs as I am using different IDEs at once

# Exclude CLion IDE specific folder
.idea/

# CMake build artifacts folder (for CLion IDE)
cmake-build-*/

# VS Code local settings
.vscode/

# Binaries
*.exe
*.obj
*.o
*.bin
